accelerate # used to be installed in Amazon SageMaker environment
evaluate
datasets==2.3.2
transformers
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.46.2 # not directly required, pinned by Snyk to avoid a vulnerability