accelerate # used to be installed in Amazon SageMaker environment
evaluate
datasets==2.3.2
nltk
deepspeed
sentencepiece != 0.1.92
protobuf
sacrebleu >= 1.4.12
nltk
py7zr
torch>=2.2.0
transformers==4.22.1
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability